* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/originals/25/48/bf/2548bf6970f74d0d9594e17b72bc2037.gif);
    background-size: cover;
    background-position: center;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.hero {
    text-align: center;
    padding: 3rem 1rem;
    background: linear-gradient(to bottom, #300000, #000000);
    color: white;
    flex: 1; 
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.5rem;
}

.hero .btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.film-slider {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
}

.slider-container {
    width: 100%; 
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    width: calc(33.33% * 5); 
}

.film-item {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.film-item img {
    width: 100%;
    border-radius: 5px;
}

.film-item p {
    color: #fff;
    margin-top: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.lihat-lainnya {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Pastikan teks tidak bergaris bawah */
}

.lihat-lainnya:hover {
    background-color: #e74c3c;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .film-item {
        width: 100%;
    }
}
